body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.description-container {
  margin-left: 1rem;
}

.vcard {
  margin: 1rem;
  page-break-inside: avoid;
  float: left;
}

.vcard strong {
  display: inline-block;
  margin-bottom: 0.5rem;
}

@media print {
  input {
    display: none;
  }
}
